@use "mocha";

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: mocha.$base;
    color: #cdd6f4;
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    color: mocha.$green;
    text-shadow: 5px 5px 5px #00000055;
}

p, ol, ul {
    line-height: 1.6;
}

hr {
    border-color: #6c7086;
    border-width: 1px;
}

img {
	max-width: 100%;
	max-height: 100%;
}

a {
    color: #94e2d5;
}

a:visited {
	color: mocha.$peach;
}

.input, .button {
    margin: .4rem;
    border-radius: .4rem;
    border: none;
    box-shadow: 1px 2px 1px #0003;
}

.input {
    padding: .4rem;
    background-color: #313244;
    color: #bac2de;
    font-size: 1rem;
}

.button {
    padding: .5rem;
    background-color: #a6e3a1;
    color: #11111b;
    font-weight: 700;
	cursor: pointer;
}
.button.non-primary-button {
    background: mocha.$surface0;
    color: mocha.$sapphire;
}
a.button {
	display: inline-block;
	margin-block: .25rem;
	text-decoration: none;
}
a:visited.button {
    color: #11111b;
}
.input:hover, .button:hover {
    opacity: .8;
}

.info {
    color: #a6adc8;
}

.info img {
    float: left;
    margin-right: .3rem;
}


.surface {
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: mocha.$mantle;
    border: 1px solid mocha.$base;
    border-radius: .7rem;
    box-shadow: 0px 7px 5px #00000045;
}


.search-form, .add-form {
	.inputs-wrapper {
	    display: grid;
	    width: 100%;
	}

	.input, .button {
	    width: 100%;
	    margin-inline: 0;
	}

	textarea {
		resize: vertical;
	}
}

@media (prefers-reduced-motion: no-preference) {
    .search-form-expanded {
        // animation: search-form-expand 300ms ease-out;
		display: block;
    }
    .search-form.unexpanded {
        .search-form-expanded {
            // animation: search-form-unexpand 300ms ease-in;
            // overflow: hidden;
            // height: 0;
			display: none;
        }
    }
}

@keyframes search-form-unexpand {
    from { height: auto; }
    to { transform: translateY(-100%) scale(0); opacity: 0; height: 0; }
}
@keyframes search-form-expand {
    from { transform: translateY(-100%) scale(0); opacity: 0; height: 0; }
    to {  }
}

.programs-grid {
    margin-inline: auto;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
	gap: 1rem;

	.program { 
		padding: .7rem;
		border-radius: .7rem;
		background-color: mocha.$crust;
		word-break: break-all;
        display: flex;
        flex-direction: column;

		// for the ::before on .program-source-deleted
		position: relative;

		&.program-source-deleted::before {
			content: "Source Deleted";
			position: absolute;
			top: 1rem;
			left: 1rem;
			right: 1rem;
			padding: .5rem;
			text-align: center;
			background: #ff3322af;
			backdrop-filter: blur(5px);
			font-size: 1.1rem;
			font-weight: 600;
			border: 1px solid #dddddd22;
			border-radius: .5rem;
			box-shadow: 0 0 10px 2px #22222268;
			// Even Firefox uses the -webkit- prefix here...
			-webkit-text-stroke-width: 1px;
			-webkit-text-stroke-color: #22222268;
		}

		.program_thumbnail {
			border-radius: .5rem;
			width: 100%;
			height: auto;
            background-color: mocha.$base;
		}

		.program_title {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
			margin-block: .2rem;
			color: mocha.$green;
			font-size: 1.2rem;
			font-weight: 700;
		}

        table {
            width: 100%;
            font-size: .8rem;
            tr {
                th {
                    font-weight: 300;
                    text-align: left;
                    padding: 0;
                    color: mocha.$blue;
                    width: 8ch;
                }
                td {
                    background-color: mocha.$mantle;
                    padding: .3em .6em;
                }
            }
            tr:nth-child(1) td:last-child {
                border-radius: .4em .4em 0 0;
            }
            tr:last-child td:last-child {
                border-radius: 0 0 .4em .4em;
            }
        }

		.program_view-code-wrapper {
            height: min-content;
			margin-top: auto;
			padding-top: .4rem;
			display: flex;
			align-items: center;
			gap: .5rem;
			.button {
				flex-grow: 1;
				margin: 0;
				text-align: center;
			}
		}
	}
	.program.error {
		background-color: #911;
	}
}

.table {
	padding: .7rem;
	border-radius: .5rem;
	background-color: mocha.$crust;
	width: 100%;
	table-layout: fixed;
	border-spacing: 1rem .3rem;
	tr {
		text-align: left;
		word-wrap: break-word;
	}
	tr + tr {
		padding-block-start: 1rem;
	}
}

@media screen and (max-width: 900px) {
	.table {
		tr {
			display: flex;
			flex-direction: column;
			gap: .1rem;
		}
	}
}

.Header {
	padding: .35rem;
	padding-inline: .7rem;
	display: grid;
	grid-template-columns: auto 1fr;
	line-height: 36px;
	margin-bottom: 1rem;
	background-color: mocha.$crust;
	z-index: 100;

	a {
		font-size: 1.4rem;
		text-decoration: none;
		width: 100%;
	}
    a:hover { text-decoration: underline; }

	img {
		width: 36px;
		height: 36px;
	}

    .logo-home-link img {
        margin-right: .3em;
    }

    .header-admin-link img {
        margin-left: .3em;
    }

	div:nth-child(1) img {
		float: left;
	}

	ul {
		list-style: none;
		padding: 0;
		margin: 0;

		li {
			margin-left: 1rem;
			float: right;
		}
	}

	div:nth-child(3) {
		display: none;
	}
}

.Main {
	padding: .7rem;
}

.Footer {
	padding: .7rem;
	background-color: mocha.$base;
    background: linear-gradient(0deg, #0b0b11 35%, mocha.$base 100%); 

	.footer_inner-wrapper {
		margin-inline: auto;
        padding-block: 2rem;
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;


		ul {
            flex-grow: 1;
            padding: 1em 2em;
            border-radius: .5rem;
            background-color: mocha.$crust;
            border: 1px solid mocha.$mantle;

			li {
                padding-inline-start: 1ch;
				list-style: none;
				font-size: 1.3rem;
			}

            a {
				text-decoration: none;
			}

            a:hover, a:focus {
                text-decoration: underline;
            }
		}
	}
	
	h2 {
		font-size: 1rem;
	}
}

@media screen and (min-width: 1000px) {
    .Main, .Header, .Footer {
        padding-inline: 1.5rem;
    }
    .Header {
		position: -webkit-sticky;
		position: sticky;
		top: 0;
		grid-template-columns: 210px 1fr 210px;
		box-shadow: 0 5px 7px #0004;

		> div {
			display: flex;
			align-items: center;
			justify-content: center;
		}

		li {
			float: left!important;
		}

		div:nth-child(3) {
			display: block;
			text-align: right;
			color: mocha.$yellow;
			img {
				float: right;
			}
		}
    }
    .Main {
        margin-inline: auto;
        border-radius: 1rem;
    }
    .search-form {
    	.inputs-wrapper {
	        grid-template-columns: repeat(3, 1fr);
            gap: 1em;
            .inputs-inner-wrapper:first-child {
                grid-column: 1/4;
            }
	    }
	    .search_search-raw-search_wrapper {
		    display: flex;
		    gap: .5rem;
		    div {
		    	flex-grow: 1;
		    }
		}
    }
}

