@use "index";
@use "standard-width";

.title-and-launch-buttons {
	margin-block-end: 2rem;
	z-index: 5;
	position: relative;
}

@media screen and (min-width: 1055px) {
	.title-and-launch-buttons {
		display: grid;
		grid-template-columns: 1fr auto;
		align-items: center;
		transform: translateY(100px);
	}
	.launch-buttons {
		position: absolute;
		top: 0;
		right: 0;
	}
}

.program-info-thumbnail-wrapper {
	box-shadow: 0 5px 7px #0b0b11;
}

.program-info-surface {
	margin-block-start: 120px;
	padding-block-start: 25px;
}

.program-info-thumbnail-wrapper {
	position: absolute;
	top: calc(-150px - 2.5rem);
	left: 50%;
	transform: translateX(-50%);
    width: 200px;
    max-width: 100%;
}
@media (prefers-reduced-motion: no-preference) {
    .program-info-thumbnail-wrapper {
        transition: left 200ms ease;
    }
}

@media screen and (max-width: 1054px) and (min-width: 614px) {
    .program-info-thumbnail-wrapper {
        left: 75%;
    }
}

@media screen and (max-width: 721px)  {
    .program-info-surface {
        margin-block-start: 210px;
    }
}

